.client {
  display: block;
  background-color: $white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 0.375rem;
  aspect-ratio: 16/9;

  img {
    height: 100%;
  }
}

.clients {
  & > div:nth-child(1) {
    .client {
      background-image: url("/src/assets/images/clients/4.svg");
    }
  }
  & > div:nth-child(2) {
    .client {
      background-image: url("/src/assets/images/clients/5.svg");
    }
  }
  & > div:nth-child(3) {
    .client {
      background-image: url("/src/assets/images/clients/6.svg");
    }
  }
  & > div:nth-child(4) {
    .client {
      background-image: url("/src/assets/images/clients/7.svg");
    }
  }
  & > div:nth-child(5) {
    .client {
      background-image: url("/src/assets/images/clients/8.svg");
    }
  }
  & > div:nth-child(6) {
    .client {
      background-image: url("/src/assets/images/clients/9.svg");
    }
  }
  & > div:nth-child(7) {
    .client {
      background-image: url("/src/assets/images/clients/10.svg");
    }
  }
  & > div:nth-child(8) {
    .client {
      background-image: url("/src/assets/images/clients/11.svg");
    }
  }
}
