.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;

  &__content {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}