.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  background-color: white;
  box-shadow: $bs-below;
  padding: 6px 0;
  z-index: 3;
  transition: box-shadow $transition-time, background-color $transition-time;

  &--scrolled {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}