.btn {
  transition-duration: $transition-time;
  width: fit-content;

  &-warning {
    background-color: $yellow-color;
    border-color: $yellow-color;

    &:hover {
      background-color: #ffb11f;
      border-color: #ffb11f;
    }
  }

  &-outline {
    &-danger {
      color: $black !important;
      border-color: $black !important;

      &:hover {
        color: $red-color !important;
        border-color: $red-color !important;
        background-color: white !important;
      }
    }

    &-success {
      color: $black;
      border-color: $black;

      &:hover {
        color: $green-color;
        border-color: $green-color;
        background-color: white;
      }
    }
  }

  &-with-icon {
    i {
      margin-left: 5px;
    }
  }
}


.dropdown-item {
  padding-top: .6rem !important;
  padding-bottom: .6rem !important;

  &:active {
    background-color: $primary-10 !important;
  }
}


@media screen and (max-width: $small-tablet-screen) {
  .navbar {
    &-collapse {
      background-color: white;
      margin: 0 -1.5rem;
      padding: 0 1.5rem;
    }
  }
}
