.btn {
  transition-duration: $transition-time;
  width: fit-content;

  &-warning {
    background-color: $yellow-color;
    border-color: $yellow-color;

    &:hover {
      background-color: #ffb11f;
      border-color: #ffb11f;
    }
  }

  &-outline {
    &-danger {
      color: $black;
      border-color: $black;

      &:hover {
        color: $red-color;
        border-color: $red-color;
        background-color: white;
      }
    }

    &-success {
      color: $black;
      border-color: $black;

      &:hover {
        color: $green-color;
        border-color: $green-color;
        background-color: white;
      }
    }
  }

  &-with-icon {
    i {
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: $small-tablet-screen) {
  .btn {
    width: 100%;
  }
}
