html,
body,
ul,
li,
button,
input,
textarea,
a,
p {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Cairo", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: $primary-100 !important;

  scroll-behavior: smooth;

  list-style: none;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
