.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 7px solid transparent;
  margin-bottom: 12px;

  &__red {
    border-color: $red-color;

    &::after {
      display: none;
    }
  }
  &__green {
    border-color: $green-color;
  }
  &__yellow {
    border-color: $yellow-color;
  }

  &::after {
    content: "";
    background-image: url('./assets/images/dashed-line.png');
    position: absolute;
    right: 0;
    left: calc(30px + (var(--bs-gutter-x) * 0.5));
    top: 0;
    width: 100%;
    height: 30px;
    background-repeat: repeat-x;
    background-position: center;
    transform-origin: left;
  }
}

@media screen and (max-width: $small-tablet-screen) {
  .round {
    &::after {
      transform: rotate(90deg);
      left: 15px;
      top: calc(18px + (var(--bs-gutter-x) * 0.5));
    }
  }
}