$black-color: invert(white);
$yellow-color: #fdc500;
$red-color: #df1523;
$green-color: #0c9017;
$grey-color: #f6f6f6;

$primary-100: #272A35;
$primary-90: #3C3F49;
$primary-80: #52545E;
$primary-60: #7D7F86;

$transition-time: 0.3s;

$bs-below: 0 15px 20px 0 rgba(0, 0, 0, 0.04);
$bs-above: 0 -15px 20px 0 rgba(0, 0, 0, 0.04);

$tablet-screen: 1200px;
$small-tablet-screen: 768px;
$phone-screen: 576px;